<h1>Sat {{ self.sat.n() }}</h1>
<dl>
  <dt>name</dt><dd>{{ self.sat.name() }}</dd>
  <dt>rarity</dt><dd><span class={{self.sat.rarity()}}>{{ self.sat.rarity() }}</span></dd>
%% if !self.inscriptions.is_empty() {
  <dt>inscriptions</dt>
  <dd class=thumbnails>
%% for inscription in &self.inscriptions {
    {{Iframe::thumbnail(*inscription)}}
%% }
  </dd>
%% }
%% if let Some(satpoint) = self.satpoint {
  <dt>location</dt><dd class=monospace>{{ satpoint }}</dd>
%% }
</dl>
<div class=center>
%% if self.sat.n() > 0 {
<a class=prev href=/sat/{{self.sat.n() - 1}}>prev</a>
%% } else {
prev
%% }
<a class=next href=/sat/{{self.sat.n() + 1}}>next</a>
</div>
